
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;

}
html,body{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family:'Montserrat' ;
}
.menu{
  height: 10vh;
display: flex;
box-shadow:0px 2px 10px  rgba(0, 0, 0, 0.678);
background-color:  white;
color: black;
font-weight:600 ;
font-size: 16px;
position: relative;
display: flex;
align-items: flex-end;
justify-content: flex-end;

}.logo{

  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* position: absolute; */
  /* left: 2%; */
  /* top: -12%; */
  /* width: 30%; */
  height: 10vh;
}

.logo img{
  width: 22%;
}
.nav{
  width:60% ;
padding: 5px 20px;
  display: flex;
justify-content: flex-end;
justify-content: space-between;
align-items: center;
/* align-items: flex-end; */

}
 a{
  text-decoration: none;
  color:black;
  font-family:'Montserrat' ;
}
.home{
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);

} 
.home h1{
  font-family: 'Bangers';

  font-size: 60px;

}
.img{
  width: 100%;
}

.inner{
  padding: 0px 20px;
  padding-top: 146px;

  color:white;
  z-index: 1;
}
.inner h1{
  font-size: 48px;
  font-weight: 500;
  color:white;
}
.inner p{
    color:white;
}
.top{

text-align: center;
font-family: 'Bangers' ; color:rgba(153, 113, 39, 0.781);
font-size: 22px;


}
.all{
  padding: 0px 0px;
}
.imag{

  position: relative;
  width: 100%;
  height: 40vh;


}
.imag img{
  height:100%;
  width: 100%;
}
.text{

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 3%;
  top: 30%;
  color: white;}
  .text h2{
    font-size: 42px;
    font-weight: 500;
  }
.text p{
  font-family: Montserrat;

font-size: 14px;
font-weight: 600;}
.overlay{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color:rgba(165, 42, 42, 0.5);
  color:white;
  z-index: -1;
}
.scroller{
  display: flex;


flex-wrap: wrap;
align-items: center;
justify-content: center;

  /* scroll-snap-type: x mandatory; F
  scrollbar-width: none; */
}
.previous{
position: absolute;
top:5%;
}



.scroll-1 img{
  display: flex;
  align-items: centr;
  /* flex-direction: row; */
  width: 200px;
  height: 200px;
}

.c{
  font-family:'Montserrat';
  background-color: gray;
  padding: 24px 44px;
}
.flex{
  /* height: 50vh; */
  display: flex;
align-items: center;
justify-content: space-between;

line-height: 30px;
}

.payemnts{
  line-height: 40px;
}
.payemnts h5{
  font-size: 20px;
}
.abot{ 
  padding: 20px 40px;
font-family:'Montserrat';
line-height: 30px;
font-size: 20px;

}
.abot h2{
margin-top: 20px;
font-size:40px ;
line-height: 60px;
color:darkslategrey
}
.Produckte{

  display: grid;
/* gap: 20px; */
padding: 0px 30px;
  font-family:'Montserrat' ;
  grid-template-columns: 330px  330px 320px;
  grid-template-rows: 500px 500px 500px 500px  ;
  justify-content: center;
}
.pa p{
  color: white;
}
.child{
  padding: 10px 10px;
}
.child .img{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.descrip{
  line-height: 20px;
display: flex;
flex-direction: column;
align-items: center;}
.descrip h4 a{

  color: darkslategrey;
}


.bton {
text-align: center;
display: flex;
gap: 20px;
}
.bton button{cursor: pointer;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color :rgba(66, 116, 105, 0.838);
}


.probtn button{
  border-radius: 5px;
  border: none;
padding: 10px 30px;
width: 282px;
cursor: pointer;
}
.productpage{display: flex;
  padding: 20px 30px;
height: 80vh}
.imga{
  width: 50%;
}
.probtn{
  width: 50%;
  display: flex;
  gap :20px;

}
.main{
  display: flex;
padding: 30px 90px;
font-family:'Montserrat' ;
height: 70vh;
}
.image{
  width: 50%;
  display: flex;
  align-items: center;
}
.des{
  width: 50%;
  /* padding: 40px 40px; */
  display: flex;
  flex-direction: column;
justify-content: center;  line-height: 40px;
  /* text-align: center; */
}
.des h1{
  margin-bottom: 20px;
}


.bt{
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
background-color:darkslategrey;
border-radius: 6px;
cursor: pointer;
color: white;
}
.headp{
  height: 210px;
}
.cart-container {
  position: relative;
  display: inline-block;
}

.cart-value {
  position: absolute;
  top: 4px;  /* Adjust vertically */
  right: -2px;  /* Adjust horizontally */
  height: 16px;
  width: 16px;
  font-size: 12px;
  color: white;
  text-align: center;
  background-color: brown;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-wrapper{
padding: 10px 100px;
}
.cart-pro{
  display: flex;
align-items: center;
justify-content: space-between;

}
.cart-pro h5{
  width:350px;
}
.but{
  padding: 8px 20px;
  border-radius: 4px;
  background-color:darkslategrey;
color: white;
cursor: pointer;
}
.but:hover{
  background-color:rgba(47, 79, 79, 0.678);
  border: none;
}
.all{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.home-btn button{
  margin-top: 10px;
border-radius: 6px;
border: none;
padding: 10px 20px;
  background-color :rgb(117, 81, 13);
color: white;}
.home-btn{
  padding: 5px 15px;
}
.bestsell{
  background-color: rgba(66, 116, 105, 0.838);
  padding: 10px 0px;
 
}
.home_back{
  background-color: rgba(66, 116, 105, 0.438);
  padding: 10px 0px;

}
.grid{
 display:grid;
 grid-template-columns: 330px 330px 330px;
 grid-template-rows: 500px 500px;
 /* align-items: center; */
 /* justify-content: center; */
 padding: 40px 30px;
 justify-content: center;
}

.best{
  margin-bottom:20px ;
}
@media (max-width:900px){
  .Produckte{
    width: 100%;
    grid-template-columns: 320px  320px;
    grid-template-rows: 500px 500px 500px 500px 500px ;
    font-size: 12px;
    padding: 10px 0px ;
  }.child{
    padding: 0px 10px;

  }
  .imag {
    /* width: 610px; */
    font-size: 8px;
}
.grid{
  grid-template-columns: 280px 280px ;
 }
 .text{
  left: 3%;
  top: 25%;
  }
  .text h2{
    font-size: 23px;
  }
  .text p{
    font-size: 8px;
    font-weight: 700;
  }

  .flex{
    /* height: 50vh; */
    display: flex;
    flex-direction: column;

  }
}
@media (max-width:600px){
  .Produckte{
    width: 50%;
    grid-template-columns: 300px ;
    grid-template-rows: 500px 500px 500px 500px 500px ;
    font-size: 12px;
  justify-content: center;
  align-items: center;
  }
  .grid{

    grid-template-columns: 300px;


   }
   .text{
    left: 10%;
    top: 5%;
    }
   .text h2{
    font-size: 23px;
  }
  .text p{
    font-size: 8px;
    font-weight: 700;
  }
  .flex{
    /* height: 50vh; */
    display: flex;
    flex-direction: column;

  }
  .c{

    padding: 24px 0px;
    /* text-align: center; */
  }
  }