
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;

}
html,body{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family:'Montserrat' ;
}
.menu{

  display: flex;
height: 15vh;

}.logo{
  width: 30%;
}

.logo img{
  width: 40%;
}
.nav{
  width:60% ;
padding: 0px 20px;
  display: flex;
justify-content: flex-end;
justify-content: space-between;
align-items: center;
/* align-items: flex-end; */

}
 a{
  text-decoration: none;
  color:rgba(255, 255, 255, 0.61);
  font-family:'Montserrat' ;
}
.home{
  z-index: 1;
  background-color: darkgrey;
} 
.home h1{
  font-family: 'Bangers';
  color:rgba(66, 116, 105, 0.838);
  font-size: 60px;

}
.img{
  width: 100%;
}
.menu{
   box-shadow:0px 2px 10px  rgba(0, 0, 0, 0.678);
   background-color: rgba(0, 0, 0, 0.473);

}
.inner{
  padding: 34px 20px;
  padding-top: 245px;
}

.top{

height: 90vh;text-align: center;
font-family: 'Bangers' ; color:rgba(66, 116, 105, 0.838);
font-size: 32px;
background-color:gray;
}

.imag{
  height:64vh;
  position: relative;


}
.imag img{
  height:100%;
  width: 100%;
}
.overlay{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color:rgba(165, 42, 42, 0.363)
}

.c{
 
  font-family: Montserrat;
  background-color: gray;
  padding: 24px 44px;
}
.flex{
  /* height: 50vh; */
  display: flex;
align-items: center;
justify-content: space-between;

line-height: 30px;
}

.payemnts{
  line-height: 40px;
}
.payemnts h5{
  font-size: 20px;
}
.abot{ 
  height:80vh;
  padding: 20px 40px;
font-family:'Montserrat';
line-height: 30px;
font-size: 20px;

}
.abot h2{
margin-top: 20px;
font-size:40px ;
line-height: 60px;
color:darkslategrey
}
.Produckte{
  padding: 10px 20px;
  margin-top: 20px;
  display: grid;

  font-family:'Montserrat' ;
  grid-template-columns: 400px  400px 400px;
  grid-template-rows: 500px 500px 500px 500px  ;
}
.child{
  padding: 10px 20px;
}
.child .img{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.descrip{
  line-height: 20px;
display: flex;
flex-direction: column;
align-items: center;}
.descrip h4 a{

  color: darkslategrey;
}


.bton {
text-align: center;
display: flex;
gap: 20px;
}
.bton button{cursor: pointer;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color :rgba(66, 116, 105, 0.838);
}


.probtn button{
  border-radius: 5px;
  border: none;
padding: 10px 30px;
width: 282px;
cursor: pointer;
}
.productpage{display: flex;
  padding: 20px 30px;
height: 80vh}
.imga{
  width: 50%;
}
.probtn{
  width: 50%;
  display: flex;
  gap :20px;

}
.main{
  display: flex;
padding: 30px 90px;
font-family:'Montserrat' ;
height: 70vh;
}
.image{
  width: 50%;
  display: flex;
  align-items: center;
}
.des{
  width: 50%;
  /* padding: 40px 40px; */
  display: flex;
  flex-direction: column;
justify-content: center;  line-height: 40px;
  /* text-align: center; */
}
.des h1{
  margin-bottom: 20px;
}


.bt{
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
background-color:darkslategrey;
border-radius: 6px;
cursor: pointer;
color: white;
}
.headp{
  height: 176px;
}
 .cart-value{
  position: absolute;
  height: 16px;
  font-size: 15px;
  color: white;
  text-align: center;
  width:16px;
  background-color: brown;
  top:44px;
 left: 120px; 
border-radius: 8px; }

.cart-wrapper{
padding: 10px 100px;
}
.cart-pro{
  display: flex;
align-items: center;
justify-content: space-between;

}
.cart-pro h5{
  width:350px;
}
.but{
  padding: 8px 20px;
  border-radius: 4px;
  background-color:darkslategrey;
color: white;
cursor: pointer;
}
.but:hover{
  background-color:rgba(47, 79, 79, 0.678);
  border: none;
}
.all{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.imag{
  width: 1100px;
margin-bottom: 10px;


}
.imag img{
  border-radius: 23px;
}
.overlay{
  border-radius: 23px;
}
@media (max-width:900px){
  .Produckte{
    width: 50%;
    grid-template-columns: 300px  300px;
    grid-template-rows: 500px 500px 500px 500px 500px ;
    font-size: 12px;
  }.child{
    padding: 0px 0px;

  }
  .imag {
    width: 610px;
    font-size: 8px;
}
.cart-value{
  position: absolute;
  height: 16px;
  font-size: 15px;
  color: white;
  text-align: center;
  width:16px;
  background-color: brown;
  top:22px;
  left: 565px;
border-radius: 8px;
}
}