
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;

}
html,body{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family:'Montserrat' ;
}
.menu{
  height: 8vh;
display: flex;
box-shadow:0px 2px 4px  rgba(0, 0, 0, 0.678);
background-color: #750016;
color: black;
font-weight:600 ;
font-size: 16px;
position: relative;
display: flex;
align-items:center;
justify-content: flex-end;

}
.cate{

  display: flex;
  gap: 20px;
  text-align: start;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
  padding: 10px 26px;
}


.ham-2{
  display: flex;
  align-items:center;
  cursor: pointer;
    justify-content: center;
    height: 25px;
    width: 25px;
    padding: 4px 4px;
    background-color: #680808;
    border-radius: 71px;
}
.sidebar-2{
  position: relative;
  height: 100vh;
  width: 300px;
position: fixed;
bottom: 0%;
left: 0;
background-color:white ;
z-index: 2;
}
.sp{
  display: flex;
  height: 25px;
  width: 200px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: 23px;
  font-weight: 500;
  font-family: 'Montserrat';
  text-align: start;
}
.sp span{    display: none;}
.cat{
  width: 20%;
  height: 70vh;

}

.cateogies{

  display: flex;
  flex-direction: column;
  /* font-size: 19px; */
  align-items: flex-start;
  font-family: 'Montserrat';
  padding: 15px 30px;
  gap: 22px;
}
.icon{
  width: 50px;
  text-align: start;
}
.one{
display: flex;
}
.one span{
  font-weight: 400;
  color: black;
  font-size: 14px;
}
.two{
  display: flex;
}
.two span{   font-weight: 400;
  color: black;
  font-size: 14px;}
  .three{
    display: flex;
  }
.three span{     font-weight: 400;
  color: black;
  font-size: 14px;}
  .four{
    display: flex;
  }
.four span{   font-weight: 400;
  color: black;
  font-size: 14px;}
.full a{
  font-size:14px ;
  color: white;
}
.topbar{
  padding: 15px 0px;
  height: 7vh;
  display: flex;
  background-color: #750016;

}

.logo{
  height: 100%;
width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  /* position: absolute; */
  /* left: 2%; */
  /* top: -12%; */
  /* width: 30%; */

}
th{
  color: darkslategrey;
}
.logo{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 21%;
}
.logo img{
 width: 156px;
}
.input{
  display: flex;
  align-items: center;
  position: relative;
}

.seach-logo  {    position: absolute;
  top: 35%;
  right: 95%;
}
svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
  color: gray;
}
input {
  border:none;
  border-radius: 37px;
  border: 1px solid white;
}
input:focus{
  outline:none;
  border-color: rgb(205, 66, 56);
}
.input input {
  padding: 10px 35px;
width: 480px;
}
.nav{
  /* height: 10vh; */
  height: 6vh;
width: 50%;
padding: 0px 27px;
display: flex;
/* align-items: flex-end; */
align-items: center;
justify-content: flex-end;

}
.full{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  /* justify-content: space-between; */
  align-items: center;
  /* padding-top: 17px; */

}
.full a{
  font-size:14px ;
  font-weight: 450;
}
 a{
  text-decoration: none;
  color:black;
  font-family:'Montserrat' ;
}
/* .sidebar{
  display: none;
} */
.home{
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);

} 
.home h1{
  font-family: 'Bangers';

  font-size: 60px;

}
.child:hover{
  box-shadow: 5px 5px 5px gray;
  transform: translateY(-10px);
}
.img{
  height: 200px;
  width: 100%;
}
.img img{ height: 200px;
width: 200px;}
.img{
  box-shadow: 0px 0px 5px gray;
}
.img-text{
  display: flex;
  align-items: center;
  font-size: 13px;
}

.inner{
  padding: 0px 20px;
  padding-top: 146px;

  color:white;
  z-index: 1;
}
.inner h1{
  font-size: 48px;
  font-weight: 500;
  color:white;
}
.inner p{
    color:white;
}
.top{

text-align: center;
font-family: 'Bangers' ; color:rgba(153, 113, 39, 0.781);
font-size: 22px;



}


.imag{

  position: relative;
  width: 100%;
  height: 70vh;


}
.imag img{
  height: 90%;
  width: 100%;
}
.text{

  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 3%;
  top: 24%;
  color: white;}
  .text h2{
    font-size: 32px;
    font-weight: 500;
  }
.text p{
  font-family: Montserrat;

font-size: 10px;
font-weight: 600;}
.cross-pre{
  position: absolute;
  /* left: 232px; */
  right: 0%;
  top: -2px;
}
.cross{

    display: flex;
    align-items: center;

}
  .scroller {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    /* justify-content: space-between; */
    grid-template-rows: 500px;
    padding: 30px 40px;
    /* align-items: center; */
    justify-content: center;
    gap: 30px;
}
  /* scroll-snap-type: x mandatory; F
  scrollbar-width: none; */
.previous{
position: absolute;
top:5%;
}



.scroll-1 img{
  display: flex;
  align-items: center;
  /* flex-direction: row; */

}

.c{
  font-family:'Montserrat';
  background-color: gray;
  padding: 24px 44px;
}
.flex{
  /* height: 50vh; */
  display: flex;
align-items: center;
justify-content: space-between;

line-height: 30px;
}

.payemnts{
  line-height: 40px;
}
.payemnts h5{
  font-size: 20px;
}
.abot{ 
  padding: 20px 40px;
font-family:'Montserrat';
line-height: 30px;
font-size: 20px;

}
.prev{
    background:none;
height:70px;
width:50px;
border:none;
border-radius:30px;
cursor:pointer;
position:absolute;
left: 0%;
top: 150px;
}
.next{
  background:none;
  height:60px;
  width:50px;
  border:none;
  border-radius:30px;cursor:pointer;

  position:absolute;
top: 150px;
right:0%;
}
.abot h2{
margin-top: 20px;
font-size:40px ;
line-height: 60px;
color:darkslategrey
}
.Produckte{
margin-top: 10px;
  display: grid;
/* gap: 20px; */
padding: 0px 30px;
  font-family:'Montserrat' ;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 430px 430px 430px;
  justify-content: center;
margin-bottom: 10px;}
.pa p{
  color: white;
}
.child{
  padding: 10px 10px;
  width: 200px;
  cursor: pointer;
}
.child .img{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.descrip{
  line-height: 20px;
display: flex;
flex-direction: column;
align-items: center;}
.descrip h4 a{

  color: darkslategrey;
}


.bton {
  margin-top: 3px;
  width: 200px;
text-align: start;
display: flex;
gap: 20px;
}
.bton button{cursor: pointer;
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color :rgba(66, 116, 105, 0.838);
  color: white;
  font-size: 14px;

}
.grid .bton button{cursor: pointer;
  padding: 8px 65px;
  border-radius: 5px;
  font-size: 14px;

}
.scroller .bton button{
 
    padding: 8px 65px;
    border-radius: 5px;
    font-size: 14px;
  
 
}


.probtn button{
  border-radius: 5px;
  border: none;
padding: 10px 30px;
width: 282px;
cursor: pointer;
}
.productpage{display: flex;
  padding: 20px 30px;
height: 80vh}
.imga{
  width: 50%;
}
.probtn{
  width: 50%;
  display: flex;
  gap :20px;

}
.main{
  display: flex;
padding: 30px 90px;
font-family:'Montserrat' ;
height: 70vh;
}
.image{
  width: 50%;
  display: flex;
  align-items: center;
}
image img{
  width: 300px;
}
.des{
  width: 50%;
  /* padding: 40px 40px; */
  display: flex;
  flex-direction: column;
justify-content: center;  line-height: 40px;
  /* text-align: center; */
}
.des h1{
  margin-bottom: 20px;
}


.bt{
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
background-color:darkslategrey;
border-radius: 6px;
cursor: pointer;
color: white;
}
.headp{
  height: 169px;
  font-size: 13px;
  width: 200px;
  text-align: start;
}
.cart-container {
  position: relative;
  display: inline-block;
}
.top-half{
  width: 33%;
  display: flex;
  text-align: end;
  align-items:center;
  justify-content: flex-end;
}
.cart{
  /* width: 34%; */
  position: relative;
  display: inline-block;
}
.cart-value {
  position: absolute;
  z-index: 1;
  top: 3px;
  right: 0px; /* Adjust horizontally */
  height: 16px;
  width: 16px;
  font-size: 12px;
  color: white;
  text-align: center;
  background-color: brown;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-wrapper{
padding: 10px 100px;
}
.cart-pro{
  display: flex;
align-items: center;
justify-content: space-between;
width: 100%;

}
.cart-pro h5{
  width:350px;
}
.but{
  padding: 8px 20px;
  border-radius: 4px;
  background-color:darkslategrey;
color: white;
cursor: pointer;
}
.but:hover{
  background-color:rgba(47, 79, 79, 0.678);
  border: none;
}
.all{
  display: flex;
  align-items: center;
  justify-content: center;
width: 100%;
}


.home-btn button{
  margin-top: 10px;
border-radius: 6px;
border: none;
padding: 10px 20px;
  background-color :rgb(117, 81, 13);
color: white;}
.home-btn{
  padding: 5px 15px;
}
.bestsell{

  padding: 10px 57px;
 position: relative;
}
.headp h4{
  font-size: 14px;
}
.underlie{
  position:absolute ;
  left: 70px;
  top: 56px;
  height: 2px;
  width: 80px;
  background-color:rgba(66, 116, 105, 0.838) ;
}
.home_back{
  padding: 10px 0px;
position: relative;
}
.full a:hover{
  color:rgba(66, 116, 105, 0.838) ; ;
  }
  .cart-container a img:hover{
    background-color:rgba(66, 116, 105, 0.838) ; 
    border-radius: 24px;
    padding: 5px 5px;
    }
.underline{
position: absolute;
height: 2px;
width: 80px;
background-color:rgba(66, 116, 105, 0.838) ;
left:95px;
top: 58px;
}
.grid{
 display:grid;
 grid-template-columns: 250px 250px 250px 250px;
 grid-template-rows: 421px 421px;
 gap: 30px;
 padding: 40px 30px;
 justify-content: center;
}

.best{
  margin-bottom:20px ;
  width: 223px;
}
.sidebar{
  display: none;
}
.ham{
  display: none;
}
@media (max-width:920px){

.seach-logo {
  /* position: absolute; */
  top: 40%;
  right: 90%;
}

.sp{
  /* font-size: 18px; */
  font-size: 14px;
  width: -1%;
  height: 8vh;
  display: flex;
  align-items: center;
}
.cross-pre{
  top: 2px;
}
.full{
  gap: 11px;
  padding-top: 10px;
}

.input input {
  padding: 10px 52px;
  width: 318px;
}

  .logo img {
    width: 136px;
}
.cart-pro h5{
width: 125px;
}

.cateogies { padding: 15px 4px;}
.text {
  left: 3%;
  top: 26%;

}
.text h2{
  font-size: 20px;
}
.text p{
  font-size: 6px;
  font-weight: 400;
}
.imag{
  height: 40vh;
}
.imag img {
  height: 100%;
  width: 100%;
}
.icon {
  width: 40px;
  text-align: start;
}
.catename{
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.one span{
  font-size: 12px;
  
}
.two span{
  font-size: 12px;
}
.three span{
  font-size:12px;
}
.four span{
  font-size: 12px;
}
  .Produckte{
    width: 100%;
    grid-template-columns: 320px  320px;
    grid-template-rows: 500px 500px 500px 500px 500px ;
    font-size: 12px;
    padding: 10px 0px ;
  }.child{
    padding: 0px 10px;

  }
  .child:hover{
    box-shadow: none;
  }
  .imag {
    /* wi
  dth: 610px; */
    font-size: 8px;
}
.grid{
  grid-template-columns:  280px 280px ;
  justify-content: center;
 }
 /* .text{
  left: 3%;
  top: 63%;
  } */
 

  .flex{
    /* height: 50vh; */
    display: flex;
    flex-direction: column;

  }


.nav{
position:relative;
z-index: 2;

}
.cate {
height: 8vh;
display: flex;
align-items: center;
  padding: 10px 7px;
}
.ham{
  display: block;
  position: absolute;
  top: 20%;
  left: 89%;
}
.sidebar{
  display:block;
  padding:0px 40px;
  padding-top: 20px;
  z-index: 2;
  width: 100%;
  height: 100vh;
background-color:white;
position: fixed;
bottom: 0;

}
.sidebar a{
list-style: none;
color: black;
}
.sidebar ul{
  height: 40vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar ul li{
  list-style: none;
}
.cart-container img{
  height:25px;
  width: 25px;
}

.cart-container{
  position: absolute;
right: 144%;
  top: -17%;
}
.cart-value{
  height: 12px;
  width: 12px;
  top: 5px;
  right: 3px;
}
.bestsell h3{
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroller {
  grid-template-columns: 300px 300px  ;
  grid-template-rows: 400px;
  justify-content: center;



}
.home_back h3{
display: flex;
align-items: center;
justify-content: center;
}
.underlie{
  /* top:20px; */
  bottom: 10%;
  right: 0;
  left: 35%;
  bottom: 0;
}
.main{
  flex-direction: column;
  height: 56vh;
  padding: 20px 20px;
}
.image{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.des{
  width: 100%;
}
}
@media (max-width:650px){
  .logo{
    /* width: 27%; */
    display: flex;
    width: 27%;
    align-items: center;
    justify-content: center;
  }
  .image img{
    width: 230px;
  }
  .des h1{
    font-size:19px ;
  }
  .des p{
    line-height: 29px;
  }
  th:first-child {
    width:30%;
  }
  .img-text {
    font-size: 8px;
  }
  .img-text h5{
width: 75px;
  }

  .input input {
    padding: 8px 25px;
    width: 159px;
}

.seach-logo {
  /* position: absolute; */
  top: 34%;
  right: 88%;
}
.main{
  flex-direction: column;
  height: 95vh;
  padding: 20px 20px;
}

    .logo img {
        width: 108px;
    }
    .cartA{
      height: 20px;
    }


  .cate{

      display: flex;
      /* text-align: start; */
      /* height: 8vh; */
      align-items: center;
      height: 8vh;
      justify-content: flex-start;
      width: 34%;
      padding: 0px;
    
  }
  .imag{
    height: 35vh;
  }
  .best .img img {
    width: 65%;
    height: 100%;
}
  .imag img{

    height: 100%;
    width: 100%;
  }
  .prev{
    left: -4%;
    top: 66px;
  }
  .next{
    top:66px;
    right: 0%;
  }
  .Produckte{
    width: 100%;
    grid-template-columns: 350px ;
    grid-template-rows: 240px 240px 240px 240px 240px ;
    font-size: 12px;
  justify-content: center;
  align-items: center;
  }
  .child{
    margin-top: 20px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-size: 8px;
    width: 320px;
    gap: 15px;
  }
  .child:hover{
    box-shadow: none;
  }
  .bton{
    display: none;
  }
  .img{

      height: 166px;
      width: 100%;}
      .img img {
        height: 144px;
        width: 154px;
    }
/* .img img{
  width: 100%;
height: 100%;} */
.descrip {
  line-height: 25px;}
 
.headp h4{
  font-size: 11px;}
 .headp p{
  font-size: 10px;
 }
  .grid{


  
      grid-template-columns: 247px;
      grid-template-rows: 351px 351px 351px 351px 351px ;

   }
   .best{
    box-shadow: 5px 5px 1px gray;
    /* height: 236px; */
   }
   .headp{
    height: 92px;
   }
 
   .scroller{
  
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  justify-content: center;
   }.text{
    left: 2%;
    top: 30%;
    }
  
    .home-btn h3{
      padding-left: 0px;
    }
    .underlie{
      /* top:20px; */
      top:80%;
      right: 0;
      left: 32%;
      bottom: 0;
    }
    
   .text h2{
    font-size: 10px;
  }
  .text p{
    font-size: 4px;
    font-weight: 300;
  }
  .flex{
    /* height: 50vh; */
    display: flex;
    flex-direction: column;

  }
  .c{

    padding: 24px 0px;
    /* text-align: center; */
  }
  .bestsell h3{
    padding: 20px 0px;
    text-align: left;
  }
  }